# Ignore data files. These are too big to version.
/app/data/*.json
/app/data/**/*.json

# Ignore sensitive credentials.
/config/s3_credentials.yml

# Ignore npm.
/node_modules

# Ignore temporary files.
/tmp
