---
---

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>antennamate.com</title>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
  <script type="text/javascript" src="{% asset_path application.js %}"></script>
  <link rel="stylesheet" type="text/css" href="{% asset_path application.css %}"/>
</head>
<body ng-app="am">
  <div class="container">
    <div class="row">
      <div class="col-md-3" ng-controller="SitesController">
        <div ng-repeat="site in sites">
          <span ng-bind="site.name"></span>
          <span ng-bind="site.area_served"></span>
        </div>
      </div>
      <div class="col-md-9" ng-controller="MapController as Ctrl">
        <div class="map" google-map center="Ctrl.location.center">
          <div google-marker position="marker.position" ng-repeat="marker in Ctrl.markers"></div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
