---
---

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>antennamate.com</title>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
  <script type="text/javascript" src="{% asset_path application.js %}"></script>
  <link rel="stylesheet" type="text/css" href="{% asset_path application.css %}"/>
</head>
<body ng-app="am" class="panes">
  <div class="pane-left" ng-controller="MapController">
    <div class="map" google-map center="location.center">
      <div google-marker position="marker.position" ng-repeat="marker in markers"></div>
    </div>
  </div>
  <div class="pane-right" ng-controller="SitesController">
    <div class="list-group">
      <div class="list-group-item am-list-group-item" ng-repeat="site in sites">
        <h4 class="list-group-item-heading" ng-bind="site.name"></h4>
        <p class="list-group-item-text" ng-bind="site.area_served"></p>
      </div>
    </div>
  </div>
</body>
</html>
