---
---

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Maps &ndash; Antenna Mate</title>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
  <script type="text/javascript" src="{% asset_path application.js %}"></script>
  <link rel="stylesheet" type="text/css" href="{% asset_path application.css %}"/>
  <link href="http://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css">
</head>
<body class="panes" ng-app="am" ng-controller="ApplicationController">
  <div class="pane-left">
    <div class="google-map" google-map center="location.center">
      <div google-marker click="open(site)" position="site.getPosition()" ng-repeat="site in sites.nearby(location.center)" class="hide">
        <div google-info-window click="close(site)" open="site.open" reload="site.transmitters.resolved" class="google-info-window">
          <h4 ng-bind="site.name"></h4>
          <p>Services the area of <span ng-bind="site.area_served"></span></p>
          <p class="text-center" ng-if="!site.transmitters.resolved">Loading...</p>
          <table class="table table-striped" ng-if="site.transmitters.resolved">
            <tbody>
              <tr ng-repeat="transmitter in site.transmitters">
                <td>
                  <span ng-bind="transmitter.callsign"></span>
                </td>
                <td>
                  <span ng-bind="transmitter.channel"></span>
                </td>
                <td>
                  <span ng-bind="transmitter.frequency"></span>
                  MHz
                </td>
                <td>
                  <span ng-bind="transmitter.maximum_erp | watts"></span>
                </td>
                <td>
                  <span ng-bind="transmitter.antenna_height"></span>
                  m
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="pane-right">
    <div class="pane-header">
      <h1 class="pane-header-title">Antenna Mate</h1>
      <p class="pane-header-text">Instantly point to the direction of your best broadcasting site using iPhone or iPad.</p>
      <a href="http://antennamate.com" class="btn btn-success pane-header-btn">Download on the App Store</a>
    </div>

    <div class="list-group" ng-cloak>
      <a class="list-group-item am-list-group-item" ng-click="open(site)" ng-class="{active: site.open}" ng-repeat="site in sites.nearby(location.center)">
        <h4 class="list-group-item-heading" ng-bind="site.name"></h4>
        <p class="list-group-item-text" ng-bind="site.area_served"></p>
      </a>
    </div>

    <div class="pane-footer" ng-cloak>
      <p>
        Designed, developed and &copy; <a href="http://tatey.com">Tate Johnson</a>.
        Based on <a href="http://acma.gov.au/">ACMA</a> and <a href="http://www.ofcom.org.uk/">Ofcom</a> data.
      </p>
    </div>
  </div>

  {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-47163457-1', 'antennamate.com');
      ga('send', 'pageview');
    </script>
  {% endif %}
</body>
</html>
