/*= require bootstrap */

html,
body {
  height: 100%;
}

a {
  cursor: pointer;
}

.pane-left {
  float: left;
  width: 75%;
  height: 100%;
}

.pane-right {
  float: left;
  width: 25%;
  overflow: scroll;
  height: 100%;
  padding: 15px;
}

.pane-right:before {
  content: '';
  position: absolute;
  height: 100%;
  top: 0;
  right: 25%;
  box-shadow: inset -1px 0 1px rgba(0,0,0,0.3);
  width: 2px;
  z-index: 2;
}

.pane-header {
  padding: 15px 0;
  text-align: center;
}

.pane-header-title {
  margin: 0;
  margin-bottom: 15px;
}

.pane-header-btn {
  margin-bottom: 15px;
}

.pane-footer {
  text-align: center;
}

.google-map {
  width: 100%;
  height: 100%;
}

.google-info-window {
  width: 325px;
  padding-bottom: 13px;
}

.google-info-window,
.google-info-window span {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: normal !important;
}

.google-info-window table {
  margin-bottom: 0;
  max-width: none;
  width: 345px;
}

.hide {
  display: none;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
